@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

body {
   font-family: 'Dancing Script', cursive;
   background-color:#1d2228;
   color:#cec7c1;
}

.portfolio-container{
   padding-top: 3rem;
   padding: 5rem;
   height: 100vh;
   
}
.portfolio-main{
   
}
.portfolio-icons{
   display: flex;
   align-items: center;
   gap: 2rem;
   padding-top: 1rem;
   
}
.p{
   font-size: 2rem;

}
.h2{
   font-size: 3rem;
   opacity: 0.6;
}
.h2-{
   width: 50%;
   font-size: 6rem;
   font-weight: bolder;
   color: #f88225;
}
.portfolio-intro{
   font-size: 3.3rem;
   width:50%;
   
}

