@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
.nav-bar{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    background-color:#404853;
    color:#cec7c1;
    height: 5rem; 
    width:100%;
    
}
.Nav-li{
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
     margin-right: 5rem; 
    gap: 2em;
    list-style-type: none;
    font-size: 1.5rem;
}
.Nav-li li:hover{
    cursor: pointer;
    background-color: #f88225;

}
.Nav-header h2{
    margin-left: 4rem;
    font-size: 3rem;
    font-weight:bolder;
    font-family: 'Dancing Script', cursive;
    
}
.nav-btn{
    font-family: 'Dancing Script', cursive;
    border:1px solid #f88225;
    padding: 0.9rem;
    background-color:#1d2228;
    color:#cec7c1;
    border-radius: 5px;
    font-size: 1rem;
}
.Nav-li button:hover{
background: #f88225;
color: #1d2228;
}
