.Skills{
    width: 90%;
    margin: 20px auto;
    font-family: 'Baskervville', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Quattrocento', serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Shadows Into Light Two', cursive;
    font-family: 'The Girl Next Door', cursive;
}
.skills-h3{border-top: 1px solid  #dddd ;
    font-size:4rem ;
    color: #f88225;
    font-family:'Dancing Script', cursive;
    text-align: center;
}
.skills-main{
    padding:1rem ;
    padding-bottom:4rem ;
}
.skills-img{
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.skills-img2{
    display: flex;
    align-items: center;



}
.skills-img img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
}